* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.company{
    display: flex;
}
.corp{
    margin-left: 7px;
    color: white;
    margin-top: 4.6px;
}
body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.company :hover {
    background-color: rgb(69, 0, 12);
}

.navbar {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}
/* Gaya untuk menutupi seluruh layar */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; /* Popup tersembunyi secara default */
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

/* Gaya untuk popup itu sendiri */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Tombol untuk menutup popup */
.close-btn {
    background-color: #3498db;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
td{
    text-align: center;
}
.footer{
    text-align: center;
    background-color: rgb(79, 79, 79);
}
.popup-overlay.show {
    visibility: visible;
    opacity: 1;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.txt{
    color: white;
}
.navbar a:hover {
    color: #ff6347;
}
.container {
    display: flex;
    align-items: center; /* Mengatur vertikal alignment */
}
.container img {
    margin-left: 100px; /* Memberi jarak antara gambar dan teks */
    width: 300px;
    margin-right: 200px;
}
.patas{
    margin-left: 20px;
}
.layanan{
    background-color: pink;
}
table{
    margin-left: 140px;
    width: 70%;
    height: 200px;
    background-color: white;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color: orange;
    height: 50px;
}
.service{
    margin-left: 20px;
}
.prdk{
    margin-left: 20px;
}
.card{
    margin: 10px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.cp1{
    padding: 10px;
}
.card2{
    margin: 10px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.cp2{
    padding: 10px;
}
.card3{
    margin: 10px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.cp3{
    padding: 10px;
}
.buku{
    display: flex;
    justify-content: center;
}
.card:hover{
    background-color: pink;
}
.card2:hover{
    background-color: pink;
}
.card3:hover{
    background-color: pink;
}